@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MovieCollection.Web.Models.Movie
<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
    <title>Add Movie</title>
</head>
<body style ="margin: 50px;">
    <h4>Add Movie</h4>
    <form asp-controller="Movies" asp-action="Create">
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>

        <label asp-for="Director"></label>
        <input asp-for="Director" />
        <span asp-validation-for="Director"></span>

        <label asp-for="Year"></label>
        <input asp-for="Year" />
        <span asp-validation-for="Year"></span>

        <label asp-for="ExternalUrl"></label>
        <input asp-for="ExternalUrl" />
        <span asp-validation-for="ExternalUrl"></span>
        <br />
        <input type="submit" value="Save" />
    </form>
    <div asp-validation-summary="All"></div>

</body>
</html>
