@using MovieCollection.Web.Controllers
@using MovieCollection.Web.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Movie[]
<!DOCTYPE html>
    <html>
    <head>
        <title>My Movie Collection on DVD and BluRay</title>
    </head>
    <body>
        <h2>My Movie Collection on DVD and BluRay</h2>
        <ul>

        @foreach (Movie movie in Model)
        {
            <li>
                <a asp-action="Details" asp-route-id="@movie.Id">
                    @movie.Title
                </a>

            </li>
        }

    </ul>
    <h2><a href="/Create">Add Movie</a></h2>
</body>
</html>
