@model Movie[]
@{
    ViewBag.Title = "My Movie Collection";
}
<h2>@ViewBag.Title</h2>
    <ul>

        @foreach (Movie movie in Model)
        {
            <li>
                <a asp-action="Details" asp-route-id="@movie.Id">
                    @movie.Title
                </a>

            </li>
        }

    </ul>
    <h2><a href="/Create">Add Movie</a></h2>

